body {
  margin: 0;
  /* overflow: hidden; */
}

canvas {
  /* width: 100vw; */
  /* height: 100vh; */
  display: block;
}
      #thicknessSlider {
  margin-right: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #434242;
  color: white;
}

.header-container input,
.header-container h1 {
  margin-right: 10px; /* Adjust the margin as needed */
}

.rubber {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.rubber:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.save{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  /* background-color: ; */
  /* color: white; */
  transition: all 0.3s ease;
  cursor: pointer;
}

.save:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

footer{
  background-color: #434242;
  color: white;
  display: flex;
}